/* fade in */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation.fade-in {
	-webkit-animation: fade-in 1.5s linear infinite alternate both;
	        animation: fade-in 1.5s linear infinite alternate both;
}
.animation.fade-in.second {
  -webkit-animation: fade-in 1.5s linear 0.5s infinite alternate both;
	        animation: fade-in 1.5s linear 0.5s infinite alternate both;
}
.animation.fade-in.third {
  -webkit-animation: fade-in 1.5s linear 1s infinite alternate both;
	        animation: fade-in 1.5s linear 1s infinite alternate both;
}
/* scale */
@keyframes scalecenter{
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1.1);
    }
}
.scalecenter{
    animation: scalecenter 2s cubic-bezier(.39,.575,.565,1) infinite alternate both;
}
